html{
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    background-color: darkslategray;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    padding: 5%;
    margin: 15%;
}

.ptc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.ptb{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.remove-button{
    display: flex;
    position: absolute;
    width: 10px;
    height: 10px;
}